.quasar
.DS_Store
.thumbs.db
node_modules
/dist
/mods
/config
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
/src-bex/www
/src-bex/js/core
npm-debug.log*
yarn-debug.log*
yarn-error.log*

log.txt
.env.json

flatpak/io.github.ebkr.r2modman.release.yaml
flatpak/repo
flatpak/build
.flatpak-builder
flatpak/r2modman.flatpak
flatpak/generated-sources.json
quasar.config.*.temporary.compiled*
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/.vs
