.card {
    background-color: var(--card-background-color,var(--background,#fff));
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10.2,10.2,10.2,0.1),0 0px 0 1px rgba(10.2,10.2,10.2,0.02);
    color: var(--card-color,var(--text,#4a4a4a));
    max-width: 100%;
    position: relative;

    &--is-concern {
        position: relative;
        z-index: 0;
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            inset: 0;
            pointer-events: none;
            background-image: repeating-linear-gradient(45deg, var(--card-concern-background-color) 0, var(--card-concern-background-color) 1px, var(--card-concern-secondary-background-color) 1px, var(--card-concern-secondary-background-color) 20px);
            mask-image: linear-gradient(to right, transparent 0%, black 40%);
        }
    }
}

.card-header-title {
    //align-items: center;
    color: var(--card-header-color,var(--text-strong,#363636));
    display: flex;
    flex-grow: 1;
    font-weight: 700;
    padding: 0.75rem 1rem;
}

.expandable-card__title {
    display: flex;
    flex-direction: row;

    & > * {
        flex: 1;
        width: 100%;
    }
}
