.menu-label {
    color: var(--v2-inactive-menu-item-color, #363636);
}

.menu-list {
    li {
        color: var(--v2-inactive-menu-item-color);
    }

    .is-active {
        color: var(--v2-active-menu-item-color);
    }

    a {
        border-radius: 6px;
        color: var(--v2-inactive-menu-item-color);
        display: block;
        padding: 0.55em 0.75em;
        border: 0;
        position: relative;
        overflow: hidden;

        &:hover {
            background-color: var(--menu-item-hover-background-color,#e9eaed);
            color: var(--menu-item-hover-color,var(--text-strong,#363636));
        }

        &.is-active {
            background-color: var(--menu-item-active-background-color);
            color: var(--text) !important;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 3px;
                background-color: var(--scheme-primary, #3273dc);
            }
        }
    }
}
