.tag:not(body) {
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 4px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: 0.75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
    white-space: nowrap;

    &.is-link {
        background-color: var(--v2-active-tag-background-color);
        color: var(--v2-active-tag-color);
    }

    &.is-inactive-link {
        background-color: var(--v2-inactive-tag-background-color);
        color: var(--v2-inactive-tag-color);
    }
}
