[Desktop Entry]
Type=Application

Name=r2modman
Comment=A simple and easy to use mod manager for many games using Thunderstore
Categories=Game;

Icon=io.github.ebkr.r2modman
Exec=io.github.ebkr.r2modman
Terminal=false
