:root {
    --v2-primary-background-color: #3f8ecf;
    --v2-primary-text-color: white;
    --v2-primary-subtitle-text-color: #ffffe6;

    --v2-warning-background-color: #ffe08a;
    --v2-warning-text-color: #222;
    --v2-warning-subtitle-text-color: #272727;
}
