:root {
    --v2-primary-text-color: #222;
    --v2-secondary-text-color: #333;

    --v2-link-text-color: #3ba5fd;
    --v2-link-active-text-color: #222;

    --v2-hero-background-color: #3f8ecf;
    --v2-hero-text-color: white;
    --v2-hero-subtitle-text-color: #e4f4fa;

    --v2-warning-background-color: #c1a564;
    --v2-warning-text-color: #222;
    --v2-warning-subtitle-text-color: #272727;

    --v2-table-row-background-color: #ebf0f1;
    --v2-table-row-alt-background-color: #dee2e3;
    --v2-table-row-text-color: var(--v2-primary-text-color);
    --v2-table-row-border-color: #b3b3b3;
}

html[class="html--dark"] {
    --v2-primary-text-color: white;
    --v2-secondary-text-color: #eaeaea;

    --v2-link-text-color: #3ba5fd;
    --v2-link-active-text-color: white;

    --v2-hero-background-color: #3f8ecf;
    --v2-hero-text-color: white;
    --v2-hero-subtitle-text-color: #e4f4fa;

    --v2-warning-background-color: #ffe08a;
    --v2-warning-text-color: #222;
    --v2-warning-subtitle-text-color: #272727;

    --v2-table-row-background-color: #171d27;
    --v2-table-row-alt-background-color: #1d2532;
    --v2-table-row-text-color: var(--v2-primary-text-color);
    --v2-table-row-border-color: #313c4e;
}
