@charset "utf-8";
@import "fontawesome-free-5.11.2/css/all.min.css";

.menu {
    display: block;
    padding: 1em;
    position: sticky;
    top: 0;
}

.margin-right {
    margin-right: 1em;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white !important;
    padding: 1em;
    box-shadow: 1px 1px 3px 0 #0000003b;
}
.sticky-top--buttons {
    z-index: 101;
    float: right;
    padding: 0.7em;
    box-shadow: 0 0 0 0 transparent;
}
.sticky-top--search {
    background-color: inherit;
    padding: 0;
    margin: 0;
    z-index: 10;
    box-shadow: unset;
}

.border-at-bottom {
    border-bottom: 1px solid #00000017;
}

.image-parent {
    position: relative;
}
.image-overlap {
    position: absolute;
    top: 0;
    left: 0;
}

.card {
    border: 0 !important;
}

.is-text {
    color: inherit;
    &--bold {
        font-weight: 500;
    }
}

.scrollable {
    position: relative;
    max-height: 100%;
}

.select--content-spacing {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.card {
    border-radius: 4px;
}

.subtitle {
    background-color: inherit;
}

.card-footer > .button {
    margin: 0.5em 0 0.5em 0.5em;
}

.pagination {
    position: fixed;
    background-color: white;
    width: 75vw;
    z-index: 10;
    padding: 1em;
    bottom: 0;
    border-top: 1px solid #00000017;
}

.pagination--invisible {
    visibility: hidden;
}

.smaller-font {
    font-size: 0.9em;
}

.in-mod-list {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

select {
    border-radius: 4px;
}

.non-selectable, .non-selectable *, button, a  {
    user-select: none;
}

.file-drop {
    position: fixed;
    z-index: 998;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    vertical-align: middle;
}
