// app global css in SCSS form
@charset "utf-8";
/*! bulma.io v0.8.0 | MIT License | github.com/jgthms/bulma */
@import "bulma/utilities/_all";
@import "bulma/base/_all";
@import "bulma/elements/_all";
@import "bulma/form/_all";
@import "bulma/components/_all";
@import "bulma/grid/_all";
@import "bulma/layout/_all";