:root {
    --preview-panel-background-color: #f6f6f6;
    --menu-item-active-background-color: rgba(50, 115, 220, 0.2);
    --menu-label-color: #666666;
    --nav-hr-background-color: #ededed;
    --nav-active-color: rgba(132, 152, 184, 0.2);
    --nav-active-text-color: #000000;
    --ecosystem-update-error-text: #9f1239;
    --ecosystem-update-error-background: #fce7ec;
    --ecosystem-update-error-border: #f6cbd5;
    --card-concern-background-color: rgb(255, 206, 182);
    --card-concern-secondary-background-color: rgb(246, 221, 209);
    --notification-concern-background-color: #f8b89d;
    --notification-concern-text-color: #000000;
}
