name: Build

on: [push]

jobs:
  build:
    name: Build for ${{ matrix.platform }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - kind: linux
            os: ubuntu-latest
            platform: linux
          - kind: windows
            os: windows-latest
            platform: win
          - kind: mac
            os: macos-11
            platform: osx
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          # The talk on the street says this might be a good version for building.
          node-version: 14.20.1
          cache: yarn

      - name: Install Yarn dependencies
        run: yarn install --frozen-lockfile

      - if: matrix.platform == 'linux'
        name: Install bsdtar # Required by electron-builder when targeting pacman.
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libarchive-tools

      - name: Build project
        id: build
        uses: StarUbiquitous/command-output@v1.0.1 # Store stdout/stderr to outputs.
        # You might want to turn this on if there's problems with electron-builder.
        # env:
        #   DEBUG: electron-builder
        with:
          run: yarn build-${{ matrix.platform }} --publish=never
          
      - if: steps.build.outputs.stderr != ''
        name: Log stderr
        continue-on-error: true
        run: echo '${{ steps.build.outputs.stderr }}'

      - if: matrix.platform == 'win'
        name: Archive Windows Binaries
        uses: actions/upload-artifact@v4
        with:
          name: Windows Binary
          path: |
            dist/electron/Packaged/r2modman*.exe
            dist/electron/Packaged/r2modman*.exe.blockmap

      - if: matrix.platform == 'linux'
        name: Archive Linux Binaries
        uses: actions/upload-artifact@v4
        with:
          name: Linux Binary
          path: |
            dist/electron/Packaged/r2modman*.deb
            dist/electron/Packaged/r2modman*.AppImage
            dist/electron/Packaged/r2modman*.tar.gz
            dist/electron/Packaged/r2modman*.rpm
            dist/electron/Packaged/r2modman*.pacman
            
      - if: matrix.platform == 'osx'
        name: Archive MacOS Binaries
        uses: actions/upload-artifact@v4
        with:
          name: MacOS Binary
          path: |
            dist/electron/Packaged/r2modman*.dmg
            dist/electron/Packaged/r2modman*mac.zip
            dist/electron/Packaged/r2modman*.dmg.blockmap
            
      - if: matrix.platform == 'win'            
        name: Grab Windows version
        id: version-step-win
        uses: michmich112/extract-version@main
        with:
          version-file: dist/electron/Packaged/latest.yml
          schema: major.minor.build

      - if: matrix.platform == 'linux'            
        name: Grab Linux version
        id: version-step-linux
        uses: michmich112/extract-version@main
        with:
          version-file: dist/electron/Packaged/latest-linux.yml
          schema: major.minor.build
          
      - if: matrix.platform == 'osx'            
        name: Grab OSX version
        id: version-step-osx
        uses: michmich112/extract-version@main
        with:
          version-file: dist/electron/Packaged/latest-mac.yml
          schema: major.minor.build
          
      - if: matrix.platform == 'win'  
        name: Add Windows Binarys to release
        uses: softprops/action-gh-release@v1
        #if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: false
          #tag_name: ${{ VERSION }}
          tag_name: ${{ steps.version-step-win.outputs.version }}
          generate_release_notes: true
          body: |
            ${{ steps.commits.outputs.value }}
          files: |
            dist/electron/Packaged/latest.yml
            dist/electron/Packaged/*.exe
            dist/electron/Packaged/*.blockmap
            
      - if: matrix.platform == 'linux'  
        name: Add Linux Binarys to release
        uses: softprops/action-gh-release@v1
        #if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: false
          #tag_name: ${{ VERSION }}
          tag_name: ${{ steps.version-step-linux.outputs.version }}
          generate_release_notes: true
          body: |
            ${{ steps.commits.outputs.value }}
          files: |
            dist/electron/Packaged/latest-linux.yml
            dist/electron/Packaged/*.deb
            dist/electron/Packaged/*.rpm
            dist/electron/Packaged/*.AppImage
            dist/electron/Packaged/*.pacman
            dist/electron/Packaged/*.tar.gz
            
      - if: matrix.platform == 'osx'  
        name: Add OSX Binarys to release
        uses: softprops/action-gh-release@v1
        #if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: false
          #tag_name: ${{ VERSION }}
          tag_name: ${{ steps.version-step-osx.outputs.version }}
          generate_release_notes: true
          body: |
            ${{ steps.commits.outputs.value }}
          files: |
            dist/electron/Packaged/latest-mac.yml
            dist/electron/Packaged/*.dmg
            dist/electron/Packaged/*.zip

      # Creating Electron executables can in some cases fail with exit code 0.
      # Check the output of build step for obvious signs of failure.
      - if: contains(steps.build.outputs.stderr, '[FAIL]')
        name: Check STDERR for trouble
        uses: actions/github-script@v6
        with:
          script: core.setFailed('It seems the build process failed silently. See previous step for more info.')
